.layout {
  background-color: white;

  &-content {
    width: 1000px;
    max-width: 100%;
    margin: 24px auto;
    padding: 0 50px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
