* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  button[type='submit'] {
    margin-left: 16px;
  }
}

div.ant-message {
  top: auto;
  bottom: 16px;
}
